<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Login
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <!-- <ion-label>{{data.szUserId}}</ion-label> -->
      </ion-item>
  
      <ion-item>
        <!-- <ion-label>{{data.szName}}</ion-label> -->
      </ion-item>
  
      <ion-item>
        <!-- <ion-label>{{data.szMessage}}</ion-label> -->
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
